.contact-container {
  margin: 0 auto;
  max-width: 70%;
}
.container-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-page h2 {
  font-size: 56px;
  font-weight: 500;
  color: #fff;
  margin: 2rem 0;
}
.container-page p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  line-height: 1.3;
  width: 55%;
  word-wrap: normal;
}
.container-item {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 2rem 0;
  padding: 1rem 0;
}
.location,
.email,
.call {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.location-icon,
.email-icon,
.call-icon {
  font-size: 20px;
  color: #27a776;
  padding: 6px;
  width: 44px;
  height: 44px;
  background: #222425;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.location-icon:hover {
  background-color: #27a776;
  color: #fff;
}

.email-icon:hover {
  background-color: #27a776;
  color: #fff;
}

.call-icon:hover {
  background-color: #27a776;
  color: #fff;
}

.location-text h4,
.email-text h4,
.call-text h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 600;
  text-align: start;
  margin-bottom: 5px;
}

.location-text p,
.email-text p,
.call-text p {
  font-size: 17px;
  color: #fff;
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.form {
  width: 100%;
}

.form .form-input {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
}

.form-input input {
  padding: 13px 6px;
  align-items: center;
  justify-items: center;
}

.form-control {
  width: 100%;
  border-radius: 4px;
  font-size: 15px;
  background-color: #161718;
  border: 1px solid #2e3133;
  color: #fff;
}
.subject-input {
  padding-bottom: 1.5rem;
}
.subject-input input {
  padding: 13px 6px;
}
.form-message textarea {
  padding: 13px 6px;
}
.submit-message {
  text-align: center;
  justify-content: center;
  padding: 20px 0;
}
.submit-message button {
  padding: 13px 35px;
  border-radius: 6px;
  border: none;
  background-color: #27a776;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}
.submit-message button:hover {
  background-color: #3c7f3f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
input:focus,
textarea:focus {
  outline: none;
}
